body {
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 300px;
  margin: 20px auto;

}

form {
  display: flex;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
}
form input[type="text"] {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 0 5px;
  color: black
} 

form button{
  background-color: white;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

div.task {
  background-color: rgb(241, 241, 241) ;  
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
  display: flex;
  transition: opacity 0.3s linear;
}

div.task svg{
  height: 20px;
  padding-right: 4px;
}

div.task.done {
  color: grey;
  opacity: 0.3;
}

div.task span {
  position: relative;
}

div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 10px;
  transition: width .2s linear;
}

div.task.done span:before {
  width: 100%;
}